@import '../../../assets/styles/varible';
@import '../../../assets/styles/zorro';
#home{
  height: 900px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  .imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
    .start{
      img:hover{
        cursor:pointer;
      }
    }
  }
}
