<div id="choose-article">
  <div class="wrap">
    <div class="head">
      <div class="title">
        <h1>Choose one file to start</h1>
        <div class="switches">
          <div class="auth-switch" *ngIf="isAuthorized">
            <p><strong>Auth-articles</strong></p>
            <nz-switch [(ngModel)]="isAuthDoc"></nz-switch>

          </div>
          <div class="edit-mode" *ngIf="!isAuthDoc">
            <p><strong>Edit</strong></p>
            <nz-switch [(ngModel)]="isEdit"></nz-switch>
          </div>
        </div>
      </div>
      <i nz-icon nzType="close" nzTheme="outline" (click)="close()"></i>
    </div>
    <hr class="divided-line"/>
    <div class="tags">
      <div class="languages" *ngFor="let lang of languages">
        <span class="language">
          <strong>{{lang}} : </strong>
        </span>
        <ng-container class="tag-container" *ngFor="let article of isAuthDoc?authArticles:articles">
            <nz-tag [nzMode]="(!isAuthDoc&&isEdit)?'closeable':'default'"
                    (nzOnClose)="deleteArticle(article._id)"
                    *ngIf="lang === article.language"
                    style="margin-left: 20px">
              <a style="font-size:16px" [routerLink]="['/article',article._id,article.auth.toString()]"
                 (click)="close()"><strong>{{article.title}}</strong></a>
            </nz-tag>
        </ng-container>
      </div>
    </div>
  </div>
</div>

